<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="yandex-verification" content="37ad4b97c4e2e56d" />
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function () {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) {
          if (document.scripts[j].src === r) {
            return;
          }
        }
        (k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a);
      })(
        window,
        document,
        "script",
        "https://mc.yandex.ru/metrika/tag.js",
        "ym"
      );

      ym(99108050, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
      });
    </script>
    <noscript
      ><div>
        <img
          src="https://mc.yandex.ru/watch/99108050"
          style="position: absolute; left: -9999px"
          alt=""
        /></div
    ></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-PJ93SW6J");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PJ93SW6J"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mikhail Gavrilenko Portfolio - Projects</title>
    <meta
      name="description"
      content="Portfolio website of Mikhail Gavrilenko, a student at SPbU specializing in system programming, Linux Kernel development, and data storage systems."
    />
    <meta
      name="keywords"
      content="Mikhail Gavrilenko, system programming, Linux Kernel, projects, research, SPbU, data storage systems, DSS, C, ls-bdd, log-structured storage, graphs, Ocaml"
    />
    <meta property="og:title" content="Mikhail Gavrilenko Portfolio" />
    <meta
      property="og:description"
      content="Projects and research in system programming, data storage systems and Linux Kernel development."
    />

    <meta
      property="og:image"
      content="http://qrutyq2p.beget.tech/personal-photo.jpg"
    />
    <meta property="og:url" content="http://qrutyq2p.beget.tech" />
    <meta property="og:type" content="website" />
    <meta name="author" content="Mikhail Gavrilenko" />
    <link rel="canonical" href="http://qrutyq2p.beget.tech" />
    <link rel="icon" href="<%= asset_path 'ant.ico' %>" type="image/x-icon" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="container-fluid pl-20 pr-20 bg-transparent col-sm-20">
      <div class="d-flex flex-row pt-3 gap-3 justify-content-end">
        <div class="pl-2 pr-2">
          <script
            async
            src="https://telegram.org/js/telegram-widget.js?22"
            data-telegram-login="auth_qruty_bot"
            data-size="large"
            data-radius="10"
            data-auth-url="/auth/telegram/callback"
            data-request-access="write"
          ></script>
          <script type="text/javascript">
            function onTelegramAuth(user) {
              alert(
                "Logged in as " +
                  user.first_name +
                  " " +
                  user.last_name +
                  " (" +
                  user.id +
                  (user.username ? ", @" + user.username : "") +
                  ")"
              );
            }
          </script>
        </div>
        <div class="pl-2 pr-2">
          <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
          <script type="text/javascript">
            if ("VKIDSDK" in window) {
              const VKID = window.VKIDSDK;

              VKID.Config.init({
                app: 52827998,
                redirectUrl: "https://web-prac-fbka.onrender.com",
                responseMode: VKID.ConfigResponseMode.Callback,
                source: VKID.ConfigSource.LOWCODE,
                scope: "", // Заполните нужными доступами по необходимости
              });

              const oneTap = new VKID.OneTap();

              oneTap
                .render({
                  container: document.currentScript.parentElement,
                  showAlternativeLogin: true,
                  styles: {
                    borderRadius: 12,
                    width: 225,
                    height: 40,
                  },
                })
                .on(VKID.WidgetEvents.ERROR, vkidOnError)
                .on(
                  VKID.OneTapInternalEvents.LOGIN_SUCCESS,
                  function (payload) {
                    const code = payload.code;
                    const deviceId = payload.device_id;

                    VKID.Auth.exchangeCode(code, deviceId)
                      .then(vkidOnSuccess)
                      .catch(vkidOnError);
                  }
                );
              function vkidOnSuccess(data) {
                // Assuming data contains relevant information such as a user ID or token
                fetch("/auth/vk/success", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                    "X-CSRF-Token": document.querySelector(
                      'meta[name="csrf-token"]'
                    ).content,
                  },
                  body: JSON.stringify({
                    success: true,
                    user_id: data.user_id,
                  }), // Adjust payload as needed
                })
                  .then((response) => {
                    if (response.ok) {
                      alert(
                        "VK authorization successful! Language switching enabled."
                      );
                      location.reload(); // Reload the page to reflect updated session
                    } else {
                      alert("Error updating session on the server.");
                    }
                  })
                  .catch((error) => {
                    console.error("Error during VK authorization:", error);
                  });
              }

              function vkidOnError(error) {
                console.error("VKID Error:", error);
              }
            }
          </script>
        </div>
        <div class="pt-2 pr-2">
          <div class="form-check form-switch justify-content-center">
            <% if session[:authorized] %> <%= form_with url: root_path, method:
            :get, local: true do %> <%= hidden_field_tag :locale, I18n.locale ==
            :en ? :ru : :en, id: "localeHiddenField" %> <input
            class="form-check-input" type="checkbox" role="switch"
            id="languageSwitch" <%= I18n.locale == :en ? 'checked' : '' %>
            onchange="this.form.submit();
            document.getElementById('localeHiddenField').value = this.checked ?
            'en' : 'ru';">
            <label class="form-check-label" for="languageSwitch">
              <%= I18n.locale == :en ? 'EN/RU' : 'RU/EN' %>
            </label>
            <% end %> <% else %>
            <p class="text-center">Authorize to change the language (RU/EN).</p>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <main>
      <style>
        @media (min-width: 992px) {
          .row-wrapper {
            min-width: 290px;
          }
        }
      </style>
      <div class="container-fluid">
        <div class="row pt-3 p-4 pl-6 pr-6 justify-content-center">
          <div class="col-lg-2 col-md-4 col-sm-12 row-wrapper">
            <div class="bg-white rounded-5 shadow text-center p-4 mb-4">
              <div class="mb-4">
                <img
                  src="<%= asset_path 'personal-photo.jpg' %>"
                  alt="Profile Picture"
                  class="rounded-circle"
                  style="width: 120px; height: 120px; object-fit: cover"
                />
              </div>
              <h1 id="name" class="display-6"><%= t('name') %></h1>
              <div class="text-start">
                <p id="phone">
                  <strong><%= t('phone') %></strong> +7 (800) 555 35-35
                </p>
                <p id="email">
                  <strong><%= t('email') %></strong> qrutyq@gmail.com
                </p>
                <p id="location">
                  <strong><%= t('location') %></strong><%= t('location-t') %>
                </p>
              </div>
              <button
                id="cv-button"
                type="button"
                class="btn btn-light w-100 mt-3"
              >
                <%= t('cv-button') %>
              </button>
            </div>

            <div class="bg-white rounded-5 shadow text-center p-4 mb-4">
              <h4 id="links" class="pb-2"><%= t('links') %></h4>
              <div class="row justify-content-center">
                <!-- GitHub Button -->
                <div class="col-12 col-sm-10 col-md-6 mb-2">
                  <a
                    href="https://github.com/qrutyy"
                    target="_blank"
                    class="btn btn-dark w-100 d-flex align-items-center justify-content-center"
                  >
                    <i class="fab fa-github me-2"></i> GitHub
                  </a>
                </div>

                <!-- Telegram Button -->
                <div class="col-20 col-sm-10 col-md-6 mb-2">
                  <a
                    href="https://t.me/mequefenrt"
                    target="_blank"
                    class="btn btn-primary w-100 d-flex align-items-center justify-content-center"
                  >
                    <i class="fab fa-telegram-plane me-2"></i> Telegram
                  </a>
                </div>
              </div>
            </div>
          </div>
          <style>
            @media (min-width: 992px) {
              .res-wrapper {
                min-width: 555px;
              }
              .card-wrapper {
                min-width: 240px;
              }
            }
          </style>

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="bg-white rounded-5 shadow p-4 mb-4 res-wrapper">
              <h2 id="about" class="display-6 mb-3"><%= t('about') %></h2>
              <p id="about_text1"><%= t('about_text1') %></p>
              <p id="about_text2"><%= t('about_text2') %></p>
            </div>

            <div class="bg-white rounded-5 shadow p-4 mb-4 res-wrapper">
              <h2 id="research-h" class="display-6 mb-3">
                <%= t('research-h') %>
              </h2>
              <div class="row mt-3">
                <div class="col-12 col-md-12 col-lg-6">
                  <div class="card p-3 mb-3 card-wrapper">
                    <div
                      class="d-flex justify-content-start align-items-center"
                    >
                      <div class="ms-3">
                        <h5>
                          <a
                            id="ls-bdd-h"
                            href="https://github.com/qrutyy/ls-bdd"
                            target="_blank"
                            class="text-dark text-decoration-none"
                          >
                            <%= t('ls-bdd-h') %>
                          </a>
                        </h5>
                        <p id="ls-bdd-b1"><%= t('ls-bdd-b1') %></p>
                        <p id="ls-bdd-b2"><%= t('ls-bdd-b2') %></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                  <div class="card p-3 mb-3 card-wrapper">
                    <div
                      class="d-flex justify-content-start align-items-center"
                    >
                      <div class="ms-3">
                        <h5>
                          <a
                            id="graph-h"
                            href="https://github.com/spbu-coding-2023/graphs-graph-2"
                            target="_blank"
                            class="text-dark text-decoration-none"
                          >
                            <%= t('graph-h') %>
                          </a>
                        </h5>
                        <p id="graph-b1"><%= t('graph-b1') %></p>
                        <ul>
                          <li id="graph-b2lh"><%= t('graph-b2lh') %></li>
                          <li id="graph-b2l1"><%= t('graph-b2l1') %></li>
                          <li id="graph-b2l2"><%= t('graph-b2l2') %></li>
                          <li id="graph-b2l3"><%= t('graph-b2l3') %></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card p-3 mb-3 card-wrapper">
                    <div
                      class="d-flex justify-content-start align-items-center"
                    >
                      <div class="ms-3">
                        <h5>
                          <a
                            id="ocaml-h"
                            href="https://github.com/qrutyy/OcamlADT/"
                            target="_blank"
                            class="text-dark text-decoration-none"
                          >
                            <%= t('ocaml-h') %>
                          </a>
                        </h5>
                        <p id="ocaml-b1"><%= t('ocaml-b1') %></p>

                        <ul>
                          <li id="ocaml-l1"><%= t('ocaml-l1') %></li>
                          <li id="ocaml-l2"><%= t('ocaml-l2') %></li>
                          <li id="ocaml-l3"><%= t('ocaml-l3') %></li>
                          <li id="ocaml-l4"><%= t('ocaml-l4') %></li>
                          <li id="ocaml-l5"><%= t('ocaml-l5') %></li>
                        </ul>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
